@import "../variable";

.dropdown {
  cursor: pointer;
  user-select: none;
  margin-left: 8px;

  .dropdown-menu {
    padding-top: 8px;
    padding-bottom: 4px;
    min-width: 160px;
    transform: translate3d(-144px, 22px, 0px) !important;

    > .menu-item {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      text-align: left;
      padding: 8px;
      font-size: 10px;
      line-height: 12px;
      color: $gray500;

      svg,
      div.spinner-border {
        width: 12px;
        height: 12px;
      }

      &:hover {
        background-color: #f1f1f1;
      }
      &:active {
        background-color: #e1e1e1;
      }

      // &-delete {
      //   &:hover {
      //     color: #fff;
      //     background-color: #d92c2c !important;
      //   }
      // }

      &.divider {
        padding: 0;
        height: 1px;
        background-color: #e1e1e1;
        margin: 4px 0;
      }

      &.disabled {
        padding: 4px 8px;
        font-weight: 500;

        &:hover {
          background-color: transparent;
          cursor: default;
          user-select: none;
        }
      }
    }
  }
}
