@import "../variable";

.component-form {
  .form-group {
    label {
      margin-bottom: 0;
      padding: 5px 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
    }

    .input-group {
      border: 1px solid #8a8886;
      border-radius: 2px;
      background-color: #fff;
      &-hide {
        border: none;
        background-color: transparent;
      }

      input,
      select,
      textarea {
        padding: 3px 8px;
        height: 32px;
        font-size: 14px;
        line-height: 20px;
        color: #201f1e;
        border: 1px solid transparent;
        &::placeholder {
          color: #6e6e6e;
        }
        &:focus {
          box-shadow: 0px 0px 0px 3px $primaryTint5;
          border-radius: 2px;
        }
        &:disabled {
          background-color: #f3f2f1;
          border-color: #f3f2f1;
        }
      }

      input[type="date"]::-webkit-calendar-picker-indicator {
        background-color: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg width='0.75em' height='0.75em' viewBox='0 0 16 16' class='bi bi-chevron-down' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
        background-repeat: no-repeat;
        background-position-x: calc(100% - 5px);
        background-position-y: 50%;
      }

      input[type="file"] {
        display: none !important;
      }

      select {
        padding-right: 22px;
        -moz-appearance: none; /* Firefox */
        -webkit-appearance: none; /* Safari and Chrome */
        appearance: none;
        background-color: #fff;
        background-image: url("data:image/svg+xml;utf8,<svg width='0.75em' height='0.75em' viewBox='0 0 16 16' class='bi bi-chevron-down' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
        background-repeat: no-repeat;
        background-position-x: calc(100% - 5px);
        background-position-y: 50%;
      }
      textarea {
        min-height: 100px;
      }

      .input-group-text {
        padding: 3px 10px;
        height: 32px;
        font-size: 14px;
        line-height: 20px;
        border: 1px solid transparent;
        background-color: #f3f2f1;
        z-index: 0;
      }

      .input-group-prepend {
        .input-group-text {
          border-top-left-radius: inherit;
          border-bottom-left-radius: inherit;
        }
      }
      .input-group-append {
        .input-group-text {
          border-top-right-radius: inherit;
          border-bottom-right-radius: inherit;
        }
      }
    }
  }
}

.text-counter {
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  font-size: 12px;
  line-height: 16px;
  color: #605e5c;
  &-muted {
    color: #acacac;
  }
  &-danger {
    color: #d92c2c;
  }
}
