@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto&display=swap");

.navbar {
  height: 47px;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 2px -2px #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;

  .navbar-flex-left {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    .logo-kur {
      width: 32px;
      height: 32px;
      background: linear-gradient(315.86deg, #d4dedd 0%, #e8eced 100%);
      border-radius: 6px;
      display: flex;
      // align-items: center;
      justify-content: center;
      margin-right: 10px;
      padding: 5px;
      // margin-bottom: 10px;

      .img-kur {
        width: 100%;
        height: 100%;
      }
    }

    .divider {
      width: 1px;
      height: 25px;
      background-color: #c8c6c4;
      margin: 0 6px;
    }

    .navbar-role-select {
      margin-left: 16px;
      border: none;
      font-size: 14px;
      // margin-bottom: 4px;
    }
  }

  .navbar-flex-right {
    display: flex;
    align-items: center;
    margin-bottom: 23px;

    .container-button {
      display: flex;
      align-items: center;
      // margin-bottom: 19px;
      .divider {
        width: 1px;
        height: 25px;
        background-color: #c8c6c4;
        margin: 0 6px;
      }

      button {
        margin-right: 10px;
        margin-left: 10px;
        border: none;
        background-color: transparent;
      }
    }

    .profile {
      width: 132px;
      height: 35px;
      border-radius: 24px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: #f3f2f1;
      // margin-bottom: 20px;
      //   .role {
      //     font-family: Roboto;
      //     font-style: normal;
      //     font-weight: normal;
      //     font-size: 10px;
      //     line-height: 12px;
      //     padding: 0 5px;
      //     width: 70px;
      //     text-align: right;
      //     text-overflow: ellipsis;
      //     white-space: nowrap;
      //     overflow: hidden;
      //     font-family: "Roboto";
      //   }

      .divider {
        width: 1px;
        height: 20px;
        background-color: #c8c6c4;
        margin: 0 6px;
      }

      .name {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        padding: 0 5px;
        width: 70px;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-family: "Roboto";
      }

      .image {
        width: 30px;
        height: 30px;
        border-radius: 33px;
        overflow: hidden;
        // margin: 0 20px;
        margin-right: 10px;

        img {
          width: 33px;
          height: 33px;
          object-fit: cover;
        }
      }
    }
  }
}
