@import "../variable";

.component {
  &-panel {
    background: #ffffff;
    border-radius: 4px;

    &-16 {
      padding: 16px;
    }

    &-24 {
      padding: 24px;
    }

    &-body {
      padding: 8px 0px 0px 0px;
      margin-top: 8px;

      &.bordered {
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 16px;
      }
    }

    .title-large {
      // font-family: Segoe UI;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 36px;
      color: #292929;
    }

    .title-medium {
      // font-family: Segoe UI;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      color: #292929;
    }

    .bold {
      font-weight: 500;
    }

    .head {
      &.bordered {
        padding-bottom: 16px;
        border-bottom: 1px solid #e1e1e1;
      }
    }
  }

  &-panel-details {
    background-color: #fff;
    box-shadow: none;
    border-radius: 0;
    padding: 1rem;
    margin-bottom: 2px;

    > .header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      .title {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: $primaryShade1;
      }
      .subtitle {
        // font-weight: 400;
        // font-size: 12px;
        line-height: 16px;
        color: $gray500;
        max-width: 70px;
        text-align: right;
      }
    }

    .panel-details-item {
      margin-top: 0.5rem;

      .item {
        display: flex;
        flex-flow: row nowrap;
        font-size: 14px;
        line-height: 20px;

        .title {
          font-weight: 500;
          color: $gray500;
          min-width: 160px;
        }
        .value {
          color: $gray700;
          &.bold {
            font-weight: 500;
          }
        }
        .prepend-value {
          margin-right: 4px;
        }
        .append-value {
          margin-left: 4px;
        }
      }

      .child {
        margin-top: 0.25rem;
        min-height: 48px;
      }

      .subtitle {
        font-size: 12px;
        color: $gray400;
        display: block;
      }
    }
  }
}
