.component-select {
  display: flex;
  padding-right: 10px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
  margin-left: 28px;
  font-size: 14px;
  font-family: "IBM Plex Sans";
  color: #303030;
}

.sidebar-kur {
  position: fixed;
  top: 40px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 56px);
  width: 256px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  padding-top: 16px;
  justify-content: space-between;

  .sidebar-wrapper {
    .sidebar-menu {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: 10px 8px 10px 0;
      cursor: pointer;
      user-select: none;

      .icon-wrapper {
        height: 16px;
        width: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        margin-right: 8px;
      }

      .title {
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        color: #404040;
      }

      &.active {
        .icon-wrapper,
        .title {
          color: $primary700;
        }
      }

      &:hover {
        background-color: #e1e1e1;
      }
    }

    .sidebar-submenu {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      background-color: #f8f8f8;
      cursor: pointer;
      user-select: none;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-left: 3px solid transparent;

      .title {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #706e6b;
        padding: 8px 0;
        margin-left: 32px;
      }

      .badge {
        width: 28px;
        height: 16px;
        background-color: #00188f;
        border-radius: 16px;
        color: white;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }

      &.active {
        background-color: #e1e1e1;
      }

      &:hover {
        background-color: #e1e1e1;
        border-left-color: #80bffa;
      }
    }
  }

  .logo-fanattics {
    width: 100px;
    height: 60px;
    display: flex;
    flex-direction: column;
    padding-left: 16px;

    span {
      font-family: "IBM Plex Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      color: #c8c8c8;
      margin-bottom: 5px;
    }

    img {
      width: 69px;
      height: 16px;
    }
  }
}
