.data-registrasi {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .user-information {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .head-text {
      font-size: 14px;
      font-family: "IBM Plex Sans";
      color: $gray300;
    }

    .child-text {
      font-size: 16px;
      font-family: "IBM Plex Sans";
      color: $gray800;
    }
  }

  .user-information-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .user-image {
    display: flex;

    .foto-ktp {
      display: flex;
      flex-direction: column;

      .head-text {
        font-size: 14px;
        font-family: "IBM Plex Sans";
        color: $gray300;
      }

      .image {
        width: 320px;
        height: 160px;

        overflow: hidden;
        margin-right: 10px;

        img {
          width: 320px;
          height: 160px;
          object-fit: cover;
        }
      }
    }

    .foto-selfie {
      display: flex;
      flex-direction: column;

      .head-text {
        font-size: 14px;
        font-family: "IBM Plex Sans";
        color: $gray300;
      }

      .image {
        width: 160px;
        height: 160px;

        overflow: hidden;
        margin-right: 10px;

        img {
          width: 160px;
          height: 160px;
          object-fit: cover;
        }
      }
    }
  }
}
