@import "./../../../variable";

.profile-user {
  width: $contentWidth;
  margin-left: auto;
  margin-right: 20px;
  padding: 24px 32px;
  border-radius: 2px;
  background-color: #f8f8f8;

  .back-button {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    .arrow-left {
      margin-right: 10px;
      color: $primary700;
    }

    span {
      font-size: 14px;
      color: $gray600;
      font-weight: 400;
      font-family: "IBM Plex Sans";
    }
  }

  .profile-container {
    display: flex;
    .profile-user-left {
      height: 540px;
      width: 285px;
      background-color: $white;
      box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1),
        0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-top: 20px;

      .profile-image {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        .umkm-wrapp {
          width: 45px;
          height: 24px;
          background-color: $gray200;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          margin-bottom: 14px;

          span {
            font-size: 12px;
            font-family: "IBM Plex Sans";
          }
        }

        .umkm-name-wrapp {
          margin-bottom: 14px;
          margin-top: 14px;

          span {
            font-size: 16px;
            font-family: "IBM Plex Sans";
          }
        }

        .image {
          width: 80px;
          height: 80px;
          border-radius: 100px;
          overflow: hidden;
          margin-right: 10px;

          img {
            width: 80px;
            height: 80px;
            object-fit: cover;
          }
        }
      }

      .user {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .head-text {
          font-size: 14px;
          font-family: "IBM Plex Sans";
          color: $gray300;
        }

        .child-text {
          font-size: 16px;
          font-family: "IBM Plex Sans";
          color: $gray800;
        }
      }
    }

    .segment-control {
      margin-left: 20px;
      margin-top: 20px;

      .body-control {
        width: 733px;
        height: 477px;
        background-color: $white;
        box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1),
          0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
      }
    }
  }
}
