.sales {
  @import "./salesDetail";
  
  // .container__header {}
  .container__body {
    > .body {
      .filter-transaction {
        display: flex;
        // margin-bottom: 20px;
        // margin-top: 32px;
        justify-content: space-between;
        align-items: center;

        .transaction-wrapp {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          .download-file {
            display: flex;
            align-items: center;
            margin-top: 20px;

            span {
              margin-left: 5px;
              font-size: 10px;
            }
          }

          .urutkan-transaksi {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            span {
              font-size: 10px;
            }
            .select-transaction {
              width: 212px;
              height: 32px;
              padding-right: 10px;
              font-size: 14px;
              font-weight: 500;
              border: none;
              border-radius: 5px;
              background-color: #f1f1f1;
            }
          }

          .semua-transaksi {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            span {
              font-size: 10px;
            }
            .select-transaction {
              width: 212px;
              height: 32px;
              padding-right: 10px;
              font-size: 14px;
              font-weight: 500;
              border: none;
              border-radius: 5px;
              background-color: #f1f1f1;
            }
          }
        }
      }
    }
  }
}
