@import "./../../variable";

&.detail {
  // .container__header {
  //   .button-cancel {
  //     background-color: transparent;
  //     color: $danger;
  //     border: 1px solid $gray700;
  //     border-radius: 20px;
  //     width: 100px;
  //   }

  //   .button-confirmation {
  //     border-radius: 20px;
  //     background-color: $primary700;
  //     color: $white;
  //   }
  // }

  .container__body {
    display: flex;
    // margin-left: 15px;
    margin-top: 20px;
    justify-content: space-between;

    .detail-transaction-left {
      display: flex;
      flex-direction: column;

      // Status Transaction
      .status-trasaction {
        width: 386px;
        height: 110px;
        background: $white;
        box-shadow: 0px 0.6px 1.8px rgba(0, 0, 0, 0.1),
          0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
        border-radius: 8px;
        padding: 16px;
        display: flex;
        justify-content: space-between;

        .sales-order {
          display: flex;
          flex-direction: column;

          span {
            font-size: 16px;
            color: #919191;
          }

          .status-order {
            span {
              font-size: 16px;
              color: #000;
            }

            .status {
              &-paid {
                color: green;
              }
            }
          }
        }

        .transaction-date {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          span {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
          }

          .detail-button {
            border: none;
            background-color: transparent;
            margin-top: 20px;
            color: $primary700;
            // width: 60px;
            font-size: 12px;
          }
        }
      }

      // Data Buyer Css
      .data-buyer {
        width: 386px;
        height: 265px;
        margin-top: 20px;
        background: $white;
        box-shadow: 0px 0.6px 1.8px rgba(0, 0, 0, 0.1),
          0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 16px;

        .page-title {
          font-family: "IBM Plex Sans";
          font-size: 18px;
          color: $gray600;
        }

        .divider {
          width: 100%;
          height: 2px;
          background-color: $gray100;
        }

        .buyer-profile {
          display: flex;
          flex-direction: column;

          .head-text {
            font-size: 12px;
            color: $gray500;
            font-family: "IBM Plex Sans";
          }

          .head-child-name {
            font-size: 16px;
            color: $primary700;
            font-family: "IBM Plex Sans";
          }
          .head-child-contact {
            font-size: 16px;
            color: $gray800;
            font-family: "IBM Plex Sans";
          }
          .head-child-adress {
            font-size: 16px;
            color: $gray500;
            font-family: "IBM Plex Sans";
          }
        }
      }

      // Data Pengiriman Css
      .data-pengiriman {
        width: 386px;
        height: 198px;
        margin-top: 20px;
        background: $white;
        box-shadow: 0px 0.6px 1.8px rgba(0, 0, 0, 0.1),
          0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
        border-radius: 8px;
        display: flex;
        // justify-content: space-between;
        flex-direction: column;
        padding: 16px;

        .page-title {
          font-family: "IBM Plex Sans";
          font-size: 18px;
          color: $gray600;
          margin-bottom: 20px;
        }

        .divider {
          width: 100%;
          height: 2px;
          background-color: $gray100;
        }

        .buyer-profile {
          display: flex;
          flex-direction: column;
          margin-top: 20px;

          .head-text {
            font-size: 12px;
            color: $gray500;
            font-family: "IBM Plex Sans";
          }

          .head-child-adress {
            font-size: 16px;
            color: $gray700;
            font-family: "IBM Plex Sans";
          }
        }
      }
      // Data Transaksi Css
      .data-transaksi {
        width: 386px;
        height: 247px;
        margin-top: 20px;
        background: $white;
        box-shadow: 0px 0.6px 1.8px rgba(0, 0, 0, 0.1),
          0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 16px;

        .page-title {
          font-family: "IBM Plex Sans";
          font-size: 18px;
          color: $gray600;
        }

        .buyer-profile {
          display: flex;
          flex-direction: column;

          .head-text {
            font-size: 12px;
            color: $gray500;
            font-family: "IBM Plex Sans";
          }

          .head-child-request {
            font-size: 16px;
            color: $gray700;
            font-family: "IBM Plex Sans";
          }

          .head-child-transaction {
            font-size: 16px;
            color: $gray700;
            font-family: "IBM Plex Sans";
          }
          .head-child-invoice {
            font-size: 16px;
            color: $primary700;
            font-family: "IBM Plex Sans";
          }

          .download-invoice {
            display: flex;

            .button-download {
              border: 1px solid $primary700;
              margin-left: 15px;
            }
          }
        }
      }
    }

    .detail-transaction-right {
      display: flex;
      flex-direction: column;
      width: 100%;

      .detail-transaction {
        width: 100%;
        margin-left: 20px;
        height: 630px;
        background: $white;
        box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1),
          0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
        border-radius: 8px;
        padding: 16px;

        .page-title {
          font-family: "IBM Plex Sans";
          font-size: 18px;
          color: $gray600;
        }

        .detail-sell-wrapp {
          width: 100%;
          margin-top: 16px;
          height: 116px;
          background: $white;
          border: 1px solid $primaryTint7;
          box-sizing: border-box;
          border-radius: 8px;
          display: flex;
          align-items: center;
          padding: 16px;

          .image-sell {
            display: flex;
            align-items: center;
            width: 100%;
            .image {
              width: 84px;
              height: 84px;
              border-radius: 2px;
            }

            .product-detail {
              display: flex;
              flex-direction: column;
              margin-left: 10px;
              width: 100%;

              .product-title {
                font-size: 18px;
                font-family: "IBM Plex Sans";
                font-weight: 500;
                color: #007ff4;
              }

              .wrapp-flex {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .sku {
                  display: flex;
                  flex-direction: column;

                  .pruduct-sku {
                    font-size: 16px;
                    color: $gray500;
                  }
                }

                .quantity {
                  display: flex;
                  flex-direction: column;

                  .pruduct-quantity {
                    font-size: 16px;
                    color: $gray500;
                  }
                }

                .price {
                  display: flex;
                  flex-direction: column;

                  .pruduct-price {
                    font-size: 16px;
                    color: $gray500;
                  }
                }
              }
            }
          }
        }

        .total-price {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-top: 20px;

          .tax-nominal {
            display: flex;
            flex-direction: column;

            span {
              font-size: 18px;
              color: $gray500;
              font-family: "IBM Plex Sans";
            }

            .ppn {
              display: flex;
              flex-direction: column;
              margin-top: 10px;

              span {
                font-size: 16px;
                color: $gray500;
                font-family: "IBM Plex Sans";
              }
              .nominal-tax {
                font-size: 16px;
                color: $gray700;
                font-family: "IBM Plex Sans";
              }
            }
          }

          .total-nominal {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
            justify-content: flex-end;
            margin-left: 30px;

            .title-nominal {
              font-size: 20px;
              color: $gray500;
              font-family: "IBM Plex Sans";
            }

            .nominal {
              font-size: 32px;
              color: $primary700;
              font-family: "IBM Plex Sans";
            }
          }
        }
      }

      .history-status {
        width: 100%;
        min-height: 100px;
        background: $white;
        box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1),
          0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
        border-radius: 8px;
        margin-left: 20px;
        margin-top: 20px;
        padding: 22px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        .page-title {
          font-family: "IBM Plex Sans";
          font-size: 20px;
          color: $gray800;
        }

        .kurir-employee {
          display: flex;
          margin-top: 20px;

          span {
            font-family: "IBM Plex Sans";
            font-size: 16px;
            color: $gray400;
            margin-right: 10px;
          }
        }

        .status-expedition {
          display: flex;
          //   align-items: center;
          margin-top: 20px;

          .rounded {
            width: 16px;
            height: 16px;
            border-radius: 100px;
            background-color: $primary700;
            margin-top: 5px;
            margin-right: 20px;
          }

          .status-text {
            display: flex;
            flex-direction: column;

            .secondary-text {
              font-family: "IBM Plex Sans";
              font-size: 16px;
              color: $gray500;
              margin-right: 10px;
            }

            .third-text {
              font-family: "IBM Plex Sans";
              font-size: 12px;
              color: $gray800;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
