.profile-setting {
  .color-title {
    color: blue;
  }

  .panel-container {
    width: 350px;
    height: 210px;
    background-color: #e6e6e6;
    padding: 16px;

    .edit-container {
      display: flex;
      justify-content: space-between;
      //   align-items: flex-start;
      .button-edit {
        border: none;
        background-color: transparent;
      }
    }

    .information-account {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      .text-head {
        font-weight: 600;
        font-size: 14px;
        color: #1e1e1e;
        font-family: "Noto Sans";
      }

      .text-child {
        font-size: 13px;
        color: #5c5c5c;
        font-family: "Noto Sans";
      }
    }
  }
}
