@import "../../variable";

.product-manager {
  width: $contentWidth;
  margin-left: auto;
  margin-right: 20px;
  padding: 24px 32px;
  border-radius: 2px;
  background-color: #f8f8f8;

  h2 {
    margin-top: 10px;
  }

  .checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;

    .checkbox-wrapp {
      width: 386px;
      height: 32px;
      background-color: $white;
      display: flex;
      align-items: center;

      span {
        margin-right: 10px;
      }

      .checkbox-container {
        margin-top: 10px;
        margin-left: 20px;

        input {
          margin-right: 10px;
        }
      }
    }
  }

  .user-select {
    outline: none;
    border: none;
    width: 260px;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    background: url("./../../../icons/Fill.svg") no-repeat right;
    -webkit-appearance: none;
    background-position-x: 244px;
  }

  .user-image {
    display: flex;
    align-items: center;
    .image {
      width: 20px;
      height: 20px;
      border-radius: 33px;
      overflow: hidden;
      // margin: 0 20px;
      margin-right: 10px;

      img {
        width: 20px;
        height: 20px;
        object-fit: cover;
      }
    }
  }
}
