@import "../variable";

.custom-modal {
  &-sm {
    max-width: 254px;
  }

  &-md {
    max-width: 484px;
  }

  &-lg {
    max-width: 778px;
  }

  &-xl {
    max-width: 1000px;
  }

  &-auto {
    max-width: calc(100vw - 256px);
  }

  &.request-pembayaran {
    max-width: 778px;
  }

  &.story-preview {
    max-width: 1000px;
  }

  // COMPONENT MODAL GOES HERE @import "[filename]"
  @import "./modalAddAdmin";

  .modal-content {
    border: transparent;
    border-radius: 8px;
    box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.14), 0px 3px 16px rgba(0, 0, 0, 0.12),
      0px 5px 6px rgba(0, 0, 0, 0.2);

    .modal-header {
      border-color: transparent;
      padding: 1.5rem;
      padding-bottom: 0;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;

      .modal-title {
        font-weight: 600;
        font-size: 32px;
        color: #323130;
        margin: 0 auto;
      }

      &.popup-header {
        padding: 16px;
        padding-bottom: 0;

        .modal-title {
          font-size: 28px;
          line-height: 36px;
          font-weight: 500;
          color: $gray800;
          margin: 0;
          width: 100%;

          .popup-header__title {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;

            // .title {
            // }
          }
        }
      }
    }

    .modal-body {
      padding: 1.5rem;

      // COMPONENT MODAL [BODY ONLY] GOES HERE @import "[filename]"
      @import "./popupCategory";
    }
  }
}
