&.popup-category {
  .title {
    font-size: 13px;
    line-height: 20px;
    color: #080707;

    span {
      color: #3AA0F3;
    }
  }

  .input-category {
    margin-top: 8px;
  }

  .button-action {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: 32px;

    button {
      margin: 0 4px;
    }
  }
}