@import "../../assets/styles/variable";

.parent-container {
  width: calc(100vw - 256px);
  margin-left: 256px;
  background-color: #f5f6f8;
}

.detail-container {
  width: 100vw;
  background-color: #f5f6f8;
}

.parent-container {
  .container__header {
    padding: 24px 32px;
  }
}

.parent-container,
.detail-container {
  .container__header {
    background-color: #fff;

    .header-body {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;

      .header__image {
        height: 125px;
        width: 125px;
        overflow: hidden;
        margin-right: 10px;

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .header__content {
        flex: 1 1 0;

        .header__title {
          font-size: 28px;
          line-height: 28px;
          font-weight: 400;
          color: $primary700;

          &-bold {
            font-weight: 500;
          }
        }

        .header__subtitle {
          margin-top: 1rem;

          .subtitle {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;

            span {
              font-weight: 600;
              min-width: 85px;
              margin-right: 5px;
            }
          }
        }
      }

      .header__action {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        button {
          margin: 0 4px;
        }
      }
    }
  }
}

//* ========== SPECIFICALLY FOR DETAIL CONTAINER ====================
.parent-container,
.detail-container {
  .container__header {
    padding: 24px 32px;
    padding-top: 16px;

    .container__back-button {
      margin-bottom: 10px;
      .back-button {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 8px 10px;
        padding-left: 0;

        cursor: pointer;
        user-select: none;

        font-size: 14px;
        line-height: 20px;
        color: $gray700;

        span {
          margin-right: 6px;
        }
      }
    }
  }
}

.parent-container,
.detail-container {
  .container__body {
    padding: 0.5rem;
    display: flex;

    &-horizontal {
      flex-flow: row nowrap;

      .body_head {
        padding: 1rem;
      }
    }

    &-vertical {
      flex-flow: column nowrap;
    }

    .body_content {
      flex: 1 1 100%;
      border-radius: 8px;
      overflow: hidden;
      background-color: #fff;
      // margin: 0.5rem;
    }
  }
}
