@import "../../../variable";

.category-configuration {
  .catalog {
    display: grid;
    gap: 10px;
    margin-top: 24px;
    grid-template-columns: repeat(auto-fill, minmax(calc(20% - 10px), max-content));

    .card-container {
      background-color: $gray25;
      padding: 1rem;

      .card__header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        font-size: 14px;
        line-height: 21px;
        color: $gray400;

        .action {
          color: $gray700;
        }
      }

      .card__body {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .title {
          font-size: 24px;
          line-height: 32px;
          color: #080707;
        }

        .sku-badge {
          background-color: #67bfc5;
          border-radius: 8px;
          padding: 4px 16px;
          margin-top: 32px;

          font-size: 13px;
          line-height: 20px;
          font-weight: 600;
          color: #fff;
        }
      }
    }
  }
}
