@import "../../variable";

.add-product {
  .add-product-container {
    margin: 0 auto;
    max-width: 700px;

    .divider {
      margin: 24px 16px;
      height: 2px;
      background-color: #edebe9;
    }

    .page-title {
      display: block;
      width: 100%;
      font-size: 20px;
      line-height: 28px;
      font-weight: 500;
      color: $gray600;
    }

    @import "./imageUploader";
    
    @import "./inputContainer";

    .button-action {
      margin-top: 24px;
      text-align: center;
    }
  }
}
