@import "../../variable";

.image-upload-container {
  .image-uploader {
    display: flex;
    flex-flow: row nowrap;
    width: 700px;

    overflow: auto;
    white-space: nowrap;

    .image-catalog {
      flex: 1 1 auto;
      min-width: 200px;
      max-width: 200px;
      height: 200px;
      background-image: url("../../../images/img-placeholder-portrait.png");
      background-size: cover;
      margin-right: 8px;

      display: flex;
      position: relative;
      overflow: hidden;
      align-items: center;
      justify-content: center;

      > button {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        padding: 8px;
        &:hover {
          color: $danger;
        }
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }
}
