@import "../../variable";

.admin-catalogue-container {
  // width: $contentWidth;
  // margin-left: auto;
  // margin-right: 20px;
  // padding: 24px 32px;
  // border-radius: 2px;
  // background-color: #f8f8f8;

  // Styling ini untuk Fillter box
  .search-box-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;

    .search-box {
      margin-top: 20px;
    }

    .account-type {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      span {
        font-size: 10px;
      }
      .select-account-type {
        width: 212px;
        height: 32px;
        padding-right: 10px;
        font-size: 14px;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        background-color: #f1f1f1;
      }
    }
  }

  // Styling ini untuk Fillter box User Select
  .user-select {
    outline: none;
    border: none;
    width: 160px;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    background: url("./../../../icons/Fill.svg") no-repeat right;
    -webkit-appearance: none;
    background-position-x: 144px;
  }

  .status-account {
    display: flex;
    align-items: center;

    .rounded-active {
      width: 14px;
      height: 14px;
      background-color: $primary700;
      border-radius: 100px;
      margin-right: 5px;
    }

    .rounded-inactive {
      width: 14px;
      height: 14px;
      background-color: $danger;
      border-radius: 100px;
      margin-right: 5px;
    }
  }

  .pagination-add-product {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
