@import "../../../variable";

.add-new-variant {
  margin-left: 50px;
  margin-right: 50px;
  padding: 24px 32px;

  .back-button {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 15px;

    .button {
      background: transparent;
      border: none;
      outline: none;
      .arrow-left {
        margin-right: 10px;
        color: $primary700;
      }
    }

    span {
      font-size: 14px;
      //   color: $gray600;
      font-weight: 400;
      font-family: "IBM Plex Sans";
    }
  }

  .add-product-container {
    width: 100%;
    height: 830px;
    background: $white;
    box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1),
      0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 24px;

    .page-title {
      font-size: 20px;
      color: $gray600;
      font-family: "IBM Plex Sans";
    }

    .divider {
      width: 100%;
      height: 2px;
      background-color: #edebe9;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .upload-image {
      width: 200px;
      height: 200px;
      background-color: #bdbebe;
      display: flex;
      align-items: center;
      margin-top: 24px;

      input[type="file"] {
        color: transparent;
        margin-left: 50px;
      }
    }

    .text-field {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .text-field-description {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;

      .description-product {
        display: flex;
        flex-direction: column;
        width: 300px;

        .description-text {
          font-size: 12px;
          color: $gray500;
          margin-top: 10px;
        }
      }

      .text-area {
        width: 920px;
        padding: 10px;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
      }

      ::placeholder {
        color: rgba(0, 0, 0, 0.25);
        opacity: 1; /* Firefox */
      }
    }

    .button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
    }
  }
}
