@import "../../variable";

.login-page {
  padding: 0;
  padding-left: -80px;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fff;

  .forgot-toast {
    width: 490px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 0.6px 1.8px rgba(0, 0, 0, 0.1),
      0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
    position: absolute;
    left: calc((100vw - 490px) * 0.5);
    // left: calc(50vw);
    bottom: 50vh;
    padding: 25px 30px;
    z-index: 1000;

    .toast-body {
      padding: 0;
      color: #000;
      text-align: center;
    }
  }

  .image-wrapper {
    width: 50vw;
    height: 100vh;
    overflow: hidden;

    img.img-illustration {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.05);
    }
  }

  .content-wrapper {
    width: 350px;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: auto;

    .logo-wrapper {
      margin-bottom: 72px;
      img.img-logo {
        width: 250px;
        object-fit: cover;
      }
    }

    .subtitle {
      font-size: 16px;
      line-height: 19px;
      color: #2d3748;
    }
    .title {
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 24px;
      color: #1a202c;
    }

    .row-info-login {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 24px;

      .form-check-label {
        font-size: 14px;
        line-height: 15px;
      }

      a {
        text-decoration: none;
        font-size: 14px;
        line-height: 16px;
        color: #4a6a35;
      }
    }

    .error-message {
      margin-top: 12px;
      height: 18px;
      font-size: 16px;
      line-height: 18px;
      color: transparent;
      text-align: center;

      &.active {
        color: #d13438;
      }
    }
  }
}
