@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./variable";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;

  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    &.modal-open {
      padding-right: 0 !important;
    }

    //* MODALS
    @import "./modal/modal";

    //* COMPONENTS
    @import "./components/components";

    .App-wrapper {
      min-height: calc(100vh - 56px);
      margin: 0;
      padding: 0;
      background-color: white;
      display: flex;
      flex-flow: row nowrap;

      @import "./components/sidebar";

      // * PAGES
      @import "./pages/AddProduct/addProduct";

      @import "./pages/Product/productManager";
      @import "./pages/Product/ProfileUser/profileUser";
      @import "./pages/Product/ProfileUser/dataRegistrasi";
      @import "./pages/Product/ProfileUser/riwayatTransaksi";
      @import "./pages/Sales/sales";
      @import "./pages/Sales/newTransaction";
      @import "./pages/Sales/newTransactionDetail";
      @import "./pages/Sales/popUpCancellation";
      @import "./pages/ProductCatalogue/productCatalog";
      @import "./pages/ProductCatalogue/AddNewVariant/addNewVariant";
      @import "./pages/AdminCatalogue/adminCatalogue";
      @import "./pages/Login/login";
      @import "./pages/Membership/membership";
      @import "./pages/SettingProfile/settingProfile";
    }

    @import "./pages/Sales/newTransactionDetail";
    @import "./pages/ProductCatalogue/AddNewVariant/addNewVariant";
    @import "./pages/Login/login";
  }
}
