@import "../../variable";

.membership {
  &.parent-container {
    .container__body {
      > .header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        .checkbox-wrap {
          display: flex;
          padding: 6px 16px;
          background-color: #fff;

          > .title {
            display: block;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: $gray700;
          }

          .checkbox-container {
            align-items: center;
            margin-left: 16px;
            > label {
              margin: 0;
              margin-left: 6px;
            }
          }
        }
      }

      > .body {
        margin-top: 24px;

        .th-item {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;

          .status {
            display: flex;
            flex-flow: column nowrap;
          }
        }
      }
    }
  }

  &.detail-container {
    .container__body {
      .detail-panel-user {
        .user {
          &-badge-type {
            border-radius: 5px;
            overflow: hidden;
            background-color: #c8c8c8;
            padding: 4px;
            text-transform: capitalize;
            font-size: 12px;
            line-height: 16px;
            align-self: center;
          }

          &-picture {
            background-color: $gray25;
            margin-top: 14px;
            border-radius: 80px;
            align-self: center;
            overflow: hidden;
            height: 80px;
            width: 80px;

            > img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }

          &-fullname {
            margin-top: 14px;
            align-self: center;
            flex-wrap: wrap;
            font-size: 16px;
            line-height: 22px;
            color: #303030;
          }

          &-info {
            margin-top: 14px;

            .user-info-title {
              font-size: 14px;
              line-height: 20px;
              font-weight: 500;
              color: #acacac;
            }
            .user-info-value {
              margin-top: 4px;
              font-size: 16px;
              line-height: 22px;
              color: #292929;
            }
          }
        }
      }

      .details-panel-info {
        min-height: 414px;

        &.data-registrasi {
          .item-content {
            margin-bottom: 10px;

            .content-title {
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              color: $gray500;
            }
            .content-value {
              margin-top: 4px;
              font-size: 16px;
              font-weight: 400;
              line-height: 22px;
              color: $gray800;

              .img-container {
                height: 157px;
                margin-right: 4px;
                margin-bottom: 4px;
                overflow: hidden;
                background-color: $gray25;

                &.ktp {
                  width: 300px;
                }

                &.profile {
                  width: 157px;
                }

                > img {
                  object-fit: cover;
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }

        &.riwayat-transaksi {
          padding-top: 10px;
        }

        // &.informasi-umum {
        //   .item-container {
        //     display: flex;
        //     padding: 8px;

        //     .icon-wrapper {
        //       height: 48px;
        //       width: 48px;
        //       display: flex;
        //       align-items: center;
        //       justify-content: center;
        //       margin-right: 8px;
        //     }

        //     .item-content {
        //       .title {
        //         font-size: 14px;
        //         line-height: 20px;
        //         font-weight: 500;
        //       }
        //       .value {
        //         margin-top: 3px;
        //         font-size: 16px;
        //         line-height: 22px;
        //         font-weight: 400;
        //       }
        //     }
        //   }
        // }
      }
    }
  }
}
