@import "../../variable";

.catalog-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  .card-container {
    display: grid;
    justify-content: space-between;
    // grid-auto-columns: minmax(180px, 240px);
    // grid-template-columns: repeat(auto-fill, minmax(180px, max-content));
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 24px 8px;

    .card-catalogue {
      .image-catalogue {
        background-image: url("../../../images/img-placeholder-portrait.png");
        background-size: cover;

        min-width: 180px;
        // max-width: 180px;
        height: 180px;

        display: flex;
        position: relative;
        overflow: hidden;
        align-items: center;
        justify-content: center;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }

      .product-name {
        font-size: 14px;
        line-height: 21px;
        color: $primary700;
      }

      .status {
        display: flex;

        :first-child {
          margin-right: 4px;
        }

        span {
          font-size: 13px;
          line-height: 20px;
          color: $secondaryBrand;

          &.available {
            color: $primary700;
          }
          &.unavailable {
            color: $primary700;
          }
        }
      }

      .price {
        display: flex;

        :first-child {
          margin-right: 4px;
        }

        span {
          font-size: 12px;
          line-height: 20px;
          color: $secondaryBrand;
        }
      }

      .sku {
        display: flex;

        :first-child {
          margin-right: 4px;
        }

        span {
          font-family: "Roboto Mono";
          font-size: 14px;
          line-height: 16px;
          color: $secondaryBrand;
        }
      }
    }
  }

  .pagination-add-product {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
