.product-detail {
  .product-detail__body {
    display: grid;
    gap: 16px;
    grid-template-columns: 300px minmax(600px, max-content) 400px;

    .product {
      background-color: #fff;
      .header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        margin-top: 24px;
        &:first-child {
          margin-top: 0;
        }

        .title {
          font-size: 14px;
          font-weight: 600;
          line-height: 21px;
        }
      }

      &-images {
        background-color: transparent;

        .img-container {
          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .action {
          label {
            width: 100%;
            text-align: right;
            margin: 0;
            margin-top: 16px;
            color: #3aa0f3;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }

      &-informasi {
        padding: 16px;

        .category-badge {
          display: inline-flex;
          min-width: 60px;
          color: #fff;

          padding: 4px 8px;
          background-color: $primary700;
          border-radius: 4px;
          margin-top: 4px;
        }

        .body {
          &.description {
            textarea {
              background-color: $gray25;

              // resize: none;
              outline: none;
              width: 100%;
              padding: 10px;
              border: none;
              // height: 100%;
              min-height: 150px;
              margin-top: 10px;
            }
          }
        }
      }

      &-status {
        padding: 16px;

        .product-info {
          margin-top: 24px;
          &:first-child {
            margin-top: 0;
          }

          &.status {
            .header {
              .action {
                button {
                  padding: 0;
                  &.available {
                    svg {
                      color: #5ebb72;
                    }
                  }
                }
              }
            }
          }

          &.sku {
            .body {
              margin-top: 4px;
              background-color: $gray25;
              border: 1px solid #dddbda;
              border-radius: 4px;
              padding: 4px 0;

              .content {
                text-align: center;
                font-family: "Roboto Mono";
                color: #3e3e3c;
                font-size: 13px;
                line-height: 18px;
              }
            }
          }

          &.price {
            .header {
              .action {
                button {
                  padding: 0;
                  svg {
                    color: #676767;
                    height: 20px;
                    width: 20px;
                  }
                }
              }
            }

            .body {
              margin-top: 4px;
              background-color: $gray25;
              border: 1px solid #dddbda;
              border-radius: 4px;
              padding: 64px 0;

              .content {
                text-align: center;
                color: #0070d2;
                font-size: 32px;
                line-height: 32px;
              }
            }
          }
        }
      }
    }
  }
}
