@import "../../variable";

.product-catalogue {
  .header-action {
    .header__action {
      width: 100%;

      .search-bar {
        margin-right: auto;
      }
    }
  }

  .filter-transaction {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;

    .transaction-wrapp {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .download-file {
        display: flex;
        align-items: center;
        margin-top: 20px;

        span {
          margin-left: 5px;
          font-size: 10px;
        }
      }

      .urutkan-transaksi {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        span {
          font-size: 10px;
        }
        .select-transaction {
          width: 212px;
          height: 32px;
          padding-right: 10px;
          font-size: 14px;
          font-weight: 500;
          border: none;
          border-radius: 5px;
          background-color: #f1f1f1;
        }
      }

      .semua-transaksi {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        span {
          font-size: 10px;
        }
        .select-transaction {
          width: 212px;
          height: 32px;
          padding-right: 10px;
          font-size: 14px;
          font-weight: 500;
          border: none;
          border-radius: 5px;
          background-color: #f1f1f1;
        }
      }
    }
  }

  .segment-control {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 24px;

    .tab-items {
      overflow: auto;
      white-space: nowrap;
      justify-content: space-between;

      &::-webkit-scrollbar {
        width: 0; /* Remove scrollbar space */
        background: transparent; /* Optional: just make scrollbar invisible */
      }

      .tab-item {
        width: 100%;
        margin-left: 8px;
        text-align: center;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .button-add-category {
      width: 200px;
      margin-bottom: 10px;
      margin-left: 40px;
      border: none;
      background-color: transparent;
      color: $primary700;
    }
  }

  @import "./catalogContainer";
}

@import "./Category/category";
@import "./productDetail";
